@mixin transition-s {
  transition: all .3s ease;
}

@mixin border-bloc {
  border-bottom: 2px solid $red;
}

@mixin make-container {
  width: $screen-lg;
  margin: 0 auto;
  padding: 15px;
}

@mixin custom-breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content
  }
}

@mixin big-title {
  font-size: 80px;
  @include custom-breakpoint(600px) {
    font-size: 60px;
  }
}