/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';
$main-font : 'Source Sans Pro', sans-serif;

$white: #fff;

$grey-dark: #1d1d1b;
$grey-darker: #181818;
$grey-light: #dfdfdf;

$red: #d7122b;

$menu-rwd: 802px;