.region-contact {
  position: relative;
  height: auto;
  overflow: hidden;
  display: flex;
  @include custom-breakpoint(650px) {
    flex-flow: wrap;
  }

  #block-block-4 {
    //width: 1002px;
    @include make-md-column(7);
    padding: 0;
    border-left: solid 2px $red;

    iframe {
      max-width: 100%;
    }
    @include custom-breakpoint(650px) {
      width: 100%;
    }
  }

  #block-block-5 {
    @include make-md-column(5);
    display: flex;
    align-items: center;
    justify-content: center;

    .block-content-wrapper {
      background: $grey-dark;
      padding: 50px;
      color: $white;
      .block-title {
        margin-top: 0;
        font-size: 80px;
        font-weight: 200;
      }

      p {
        font-size: 18px;
      }

      a {
        font-size: 18px;
        color: $white;
        text-decoration: underline;
        &:hover {
          color: $red;
        }
      }

      @include custom-breakpoint(1120px) {
        padding: 15px;
      }
      @include custom-breakpoint(650px) {
        width: 100%;
      }
    }

    @include custom-breakpoint(890px) {
      padding: 0;
    }
    @include custom-breakpoint(650px) {
      width: 100%;
    }
  }
}