#equipes {
  display: flex;
  flex-flow: wrap;
  @include border-bloc;

  .block-content-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 70px;
    padding-bottom: 30px;
    @include custom-breakpoint(420px) {
      width: 100%;
      padding-right: 0;
    }
    .block-title {
      @include big-title;
      color: $grey-dark;
      font-weight: 200;
      width: 80%;
      text-align: right;
      position: relative;
      margin-bottom: 30px;

      @include custom-breakpoint(420px) {
        width: 100%;
      }
      &:after {
        content: '';
        width: 100px;
        height: 2px;
        background: $grey-dark;
        position: absolute;
        right: 5px;
        margin-top: 15px;
        display: block;
      }
    }
    a {
      font-size: 20px;
      color: $red;
      text-decoration: underline;
      padding-right: 5px;
    }
    @include custom-breakpoint(720px) {
      width: 100%;
    }
  }

  .bg-image {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    @include custom-breakpoint(720px) {
      width: 100%;
      height: 300px;
    }
  }
}