header.navbar-default {
  position: fixed;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $white;
  border: none;
  border-radius: 0;
  box-shadow: 0px 1px 10px 0px #a5a4a4;

  .navbar-header {
    .logo {
      margin-left: 15px;
      img {
        width: 205px;
        height: auto;
        @include custom-breakpoint(1100px) {
          width: 170px;
        }
      }
    }
    // burger menu
    @include custom-breakpoint($menu-rwd) {
      width: 100%;
    }
  }

  #navbar-collapse {
    padding-left: 0;
    #block-system-main-menu {
      .menu {
        @include custom-breakpoint(1000px) {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        @include custom-breakpoint($menu-rwd) {
          flex-flow: column;
        }
        > li {
          display: inline-block;
          a {
            font-size: 22px;
            color: $grey-dark;
            font-weight: 300;
            border-bottom: 2px solid $white;
            @include transition-s;
            padding: 10px 15px;
            @include custom-breakpoint(1300px) {
              padding: 10px 5px;
            }
            @include custom-breakpoint(1100px) {
              font-size: 20px;
            }
            @include custom-breakpoint(1000px) {
              font-size: 18px;
              line-height: 20px;
              max-width: 100px;
              text-align: center;
            }
            @include custom-breakpoint($menu-rwd) {
              font-size: 25px;
              max-width: inherit;
              padding: 20px 15px;
            }
            &:hover {
              background: none;
              border-bottom: 2px solid $red;
              @include transition-s
            }
            &:focus {
              background: none;
              outline: none
            }
          }
          &.active {
            a {
              border-bottom: 2px solid $red;
            }
            ul {
              li {
                a {
                  border-bottom: none;
                }
              }
            }
          }
          ul {
            li {
              &:hover {
                background: $grey-light;
                border-bottom: none;
                @include transition-s
              }
              &:focus {
                background: none;
                outline: none
              }
              &.active {
                a {
                  background: none;
                  border-bottom: none;
                }
              }
            }
          }
        }
      }
    }
    // BNurger menu
    @include custom-breakpoint($menu-rwd) {
      position: absolute;
      top: 87px;
      background: $white;
      padding: 15px;
      right: 0;
    }
  }
  // berger menu
  .navbar-toggle {
    @include custom-breakpoint($menu-rwd) {
      margin-top: 20px;
    }
  }
}

.admin-menu {
  header.navbar-default {
    top: 28px;
  }
}