.node-type-offre,
.node-type-page,
.node-type-blog,
.page-blog,
.page-contact,
.page-node-add-contact,
.page-actualites,
.page-promotions {
  .page-header {
    @include make-container;
  }

  .ds-2col-fluid,
  .ds-1col {
    &.node-offre:not(.view-mode-listing),
    &.node-page,
    &.node-blog:not(.view-mode-listing){
      @include make-container;
    }
  }

  .view-blog:not(.view-display-id-block),
  .view-offre-home:not(.view-display-id-block) {
    @include make-container;
    #views-bootstrap-grid-1 {
      .row {
        margin-left: -15px;
        margin-right: -15px;
        display: flex;
        margin-bottom: 30px;
      }
    }
  }

  .node-contact-form {
    @include make-container;
  }
}

.main-container {
  min-height: calc(100vh - 260px);
}

body {
  font-size: 18px;
}

.field-name-body {
  img {
    @include img-responsive();
  }
  .row {
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
  }
}

.ancre-wrapper {
  display: flex;

  .ancre {
    background: $red;
    padding: 5px 10px;
    margin-bottom: 0;
    margin-right: 15px;
    font-size: 20px;
    text-transform: uppercase;

    a {
      color: $white;
    }

    &:hover {
      background: darken($red, 10%);
    }
  }
}

h2 {
  a {
    color: $grey-darker;
  }
}