body {
  font-family: $main-font;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.admin-menu {
  .main-container {
    margin-top: 128px;
  }
}

.main-container {
  margin-top: 100px;
  @include custom-breakpoint(1100px) {
    margin-top: 86px;
  }
}

.row {
  margin: 0;
}

label {
  font-weight: normal;
  font-size: 20px;
}

.form-control,
input,
select,
textarea{
  border-radius: 0;
  border: none;
  background: $grey-light;
}

textarea {
  resize: none;
}

.form-actions {
  text-align: right;

  #edit-submit {
    background: $red;
    border-radius: 0;
    border: none;
    font-size: 18px;
  }

  #edit-preview {
    display: none;
  }
}