.node-services {
  .field-name-field-se-detail-service {
    .node-services-detail {

      .bg-det-services {
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
        padding: 120px 0 150px 0;
        min-height: 400px;

        .content-bg-det-service {
          @include make-container;
          background: rgba($grey-dark, 0.5);
          color: $white;

          h2 {
            font-size: 50px;
            font-weight: 200;
          }

          p {
            font-size: 18px;
          }
        }
      }

      .wrapper-det-services {
        padding: 120px 0 150px 0;
        .content-det-service {
          @include make-container;
          h2 {
            font-size: 50px;
            font-weight: 200;
          }

          p {
            font-size: 18px;
          }
        }
      }
    }
  }
}